/* For use in src/lib/core/theming/_palette.scss */
$cal-connect-blue: (
  50: #e4ecf9,
  100: #bbcff0,
  200: #8dafe7,
  300: #5f8edd,
  400: #3d76d5,
  500: #1b5ece,
  600: #1856c9,
  700: #144cc2,
  800: #1042bc,
  900: #0831b0,
  A100: #dbe2ff,
  A200: #a8b9ff,
  A400: #7590ff,
  A700: #5c7cff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$cal-connect-gray-black: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #909090,
  300: #646464,
  400: #424242,
  500: #212121,
  600: #1d1d1d,
  700: #181818,
  800: #141414,
  900: #0b0b0b,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
